@page
@model UnamedWebsite.Pages.AskForAdviceModel
@{
    ViewData["Title"] = "AskForAdvice";
}
    <script>
    function ask(e) {
        e.preventDefault();
        var a = document.getElementById("advice").value.trim();
        var email = document.getElementById("emailll").value.trim();
        var tags = document.getElementById("tagss").value.trim();

        if (tags[tags.length] != "#") {
            tags = tags+ "#";
        }
        $.ajax({
            type: 'GET',
            url: '?handler=AskForAdvice',
            data: {
                "Content": a,
                "Email": email,
                "Tags": tags
            },
            success: function (data) {
                window.location.href = "https://localhost:44310/SpillTheTea/Advice"
            },
            error: function (error) {
                alert("Error : " + error.statusText);
            }
        });
        return false;
    }
    </script>
<h1>Ask For Advice</h1>

<form method="post" onsubmit="return ask(event)">
    <fieldset>

        <div class="form-group">
            <label for="advice">Tell Us What Happened</label>
            <textarea class="form-control" id="advice" rows="5" required></textarea>
        </div>

        <div class="form-group">
            <label for="tagss">Tags</label>
            <textarea class="form-control" id="tagss" rows="1" placeholder="#tag1#tag2..."></textarea>
        </div>

        <div class="form-group">
            <label for="emailll">Email address</label>
            <input type="email" class="form-control" id="emailll" aria-describedby="emailHelp"
                   placeholder="Enter email to get notified of comments/likes on your confession (optional)">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div style="text-align:right;">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </fieldset>
</form>